

body {
  background-image: url("images/white_kitchen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
  #blackness{
    background-color: black;

  }
  #bs-example-navbar-collapse-1{
  }
  #heartPic{
    background-image: url("images/whitewishlistimage.png");
    position: relative !important;
    height: 30px;
    width: 30px;
    text-align: center;

  }
  .navPic{
    height: 30px;
    width: 30px;
  }

  .navbar {
    border: none !important;
  }
  .container-fluid {
    background-color: #01bcf0;
  }
  .navbar-header {
    float: none;
    padding-bottom: 40px;
  }

  #lowesImg {
    height: 5em;
    width: 15em;
  }

  .navbar-brand{
    padding: 20px;
    margin-top: 0px;
  }
  .navbar-toggle {
    display: block;
    padding: 20px;
    margin-top: 30px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse.in{
    display: block !important;

  }
  .navbar-toggle{
    /*background-color: orange;*/
  }
button {
  border: none !important;
}
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }


/*mobile viewing*/
@media (max-width:700px ){
  #lowesImg {
    height: 3em;
    width: 9em;
  }
  .navbar-header {
    padding-bottom: 20px;
  }

  }



