

body {
  background-image: url("images/white_kitchen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
  #blackness{
    background-color: black;

  }

.container-fluid{
  background-color: #01bcf0;
}

