


header {
  background-color: #01bcf0;
}
body {
  background-image: url("images/white_kitchen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

p{
  font-size: 3em;
  padding-left: 1em;
  font-family: lato;

}

#lowesImg{
  height: 5em;
  width: 12em;
}

nav {
  border: none !important;
}

.navColor {
    background-color: #01bcf0;
    /*border-color: #E7E7E7;*/
  }

.imgNav {
  height: 5em;
  width: 5em;
  /*padding-right: 5em;*/

  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-color: #01bcf0;
  display: inline-block;
  margin-bottom: -5px;
}



#gameBtn1 {
  background-image: url("images/gameicon.png");
  background-repeat: no-repeat;
  padding-left: 50px;
}
#gameBtn2{
  background-image: url("images/search_icon.png");
  background-repeat: no-repeat;
  border-left: solid .5em white;
  border-top: none;

}

#gameBtn3{
  background-image: url("images/profileicon_360.png");
  background-size: 40%;
  border-left: solid .5em white;
  background-repeat: no-repeat;


}

#gameBtn4{
  background-image: url("images/locationicon_360.png");
  background-size: 30%;
  border-left: solid .5em white;
  background-repeat: no-repeat;
}

.pagePics {
  width: 10em;
  height: 10em;
  position: relative;

}



@media (max-width: 650px) {
  .pagePics {
    width: 6em;
    height: 6em;
    position: relative;
  }
  .navbar {
    position: absolute;
    bottom: 0px;
    display: none;
  }

}



